.Box1{
    background-color: chocolate;
    width: 50%;
}
.Box2{
    background-color: rgb(30, 174, 210);
    width: 50%;
}
.Tab{
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0%;
    padding: 0%;
}